<div class="crea-corso">
    <div class="div">
        <div class="overlap">
            <div class="text-wrapper-5">Crea il tuo corso</div>
            <img class="local-library" src="./../../../assets/font/book-reader-svgrepo-com.svg" />
        </div>
        <div class="divider">
            <div class="divider-horizontal">
                <div class="min-height"></div>
                <img class="img" src="img/image.svg" />
            </div>
        </div>
        <div class="overlap-group">
            <div class="frame">
                <p class="text-wrapper">Inserisci le informazioni del nuovo corso</p>
                <img class="vector" src="./../../../assets/font/pencil.svg" />
            </div>
            <div class="divider-horizontal-wrapper">
                <div class="divider-horizontal">
                    <div class="min-height"></div>
                    <img class="img" src="img/divider.svg" />
                </div>
            </div>
            <div class="frame-2">
                <div class="property-default">
                    <div class="text-wrapper-3">Nome</div>
                    <div class="text-field">
                        <input type="text" class="input">
                        <div class="label-container">
                            <div class="text-wrapper-2">Nome</div>
                        </div>

                    </div>
                </div>
                <div class="property">
                    <div class="text-wrapper-3">Sommario</div>
                    <div class="text-field">
                        <input type="text" class="input">
                        <div class="label-container">
                            <div class="text-wrapper-2">Sommario</div>
                        </div>
                    </div>
                </div>
                <div class="property-variant">
                    <div class="text-wrapper-3">Descrizione</div>
                    <div class="text-field">
                        <input type="text" class="input">
                        <div class="label-container">
                            <div class="text-wrapper-2">Descrizione</div>
                        </div>
                    </div>
                </div>
                <div class="property-2">
                    <div class="text-wrapper-3">Durata attesa</div>
                    <div class="text-field">
                        <input type="text" class="input">
                        <div class="label-container">
                            <div class="text-wrapper-2">Durata attesa</div>
                        </div>
                    </div>
                </div>
                <div class="property-3">
                    <div class="text-wrapper-3">File scorm</div>
                    <button type="file" class="button">Scegli file</button>
                </div>
                <div class="property-4">
                    <div class="text-wrapper-3">Exercise code</div>
                    <div class="text-field">
                        <input type="text" class="input">
                        <div class="label-container">
                            <div class="text-wrapper-2">Exercise code</div>
                        </div>
                    </div>
                </div>
                <div class="property-5">
                    <div class="text-wrapper-3">Tag</div>
                    <div class="text-field">
                        <input type="text" class="input">
                        <div class="label-container">
                            <div class="text-wrapper-2">Tag</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="container-button">
                <button class="back-button">
                    Indietro
                </button>
                <button class="submit-button">
                    Conferma
                </button>
            </div>
            <div class="radio-group">
                <div class="div-2">
                    <div class="div-radio-button">
                        <input type="radio" class="radio-button">
                    </div>
                    <div class="form-label">
                        <div class="label-2">Inglese</div>
                    </div>
                </div>
                <div class="div-2">
                    <div class="div-radio-button">
                        <input type="radio" class="radio-button">
                    </div>
                    <div class="form-label">
                        <div class="label-2">Italiano</div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer">
            <div class="logo">
                <img class="DP-logo-cyber" src="img/DP-logo-cyber-1.png" />
                <div class="text-wrapper-4">Unavox</div>
                <p class="p">2023 © Unavox- All rights reserved. Powered by DigitalPlatforms</p>
            </div>
        </footer>
    </div>
</div>