<div class="classi">
    <div class="div">
        <div class="title-card">
            <div class="text-wrapper">Classi</div>
            <img class="school" src="./../../../assets/font/book-reader-svgrepo-com.svg" />
        </div>
        <hr class="solid" />
        <div class="container">
            <p class="p">
                Seleziona la card per controllare lo status delle classi in corso, quelle disponibilli, le classi
                del
                LMS che hai completato <br /> o quelle a cui sei iscritto! </p>
            <div class="overlap">
                <app-available-classes-table></app-available-classes-table>
            </div>
        </div>
    </div>
</div>