<div class="box">
    <div #accordions class="accordion-summary">
        <button class="accordion">Classe HOT SECURITY
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>
        <div class="panel">
            <div class="accordion-details">
                <div class="list-item">
                    <div class="list-item-wrapper">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 01</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-5">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 02</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-6">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 03</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button class="accordion">Classe NETWORK SECURITY
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <div class="accordion-details">
                <div class="list-item">
                    <div class="list-item-wrapper">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 01</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-5">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 02</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-6">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 03</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="accordion">Classe FEBBRAIO 2024
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <div class="accordion-details">
                <div class="list-item">
                    <div class="list-item-wrapper">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 01</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-5">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 02</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-6">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 03</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="accordion">Classe HOT SECURITY Giugno 2024
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <div class="accordion-details">
                <div class="list-item">
                    <div class="list-item-wrapper">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 01</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-5">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 02</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-6">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 03</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="accordion">Classe GIUGNO 2020
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <div class="accordion-details">
                <div class="list-item">
                    <div class="list-item-wrapper">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 01</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-5">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 02</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-6">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 03</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="accordion">Classe WINDOWS 20 Luglio 2024
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <div class="accordion-details">
                <div class="list-item">
                    <div class="list-item-wrapper">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 01</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-5">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 02</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-6">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 03</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="accordion">Classe LINUX HARDENING
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <div class="accordion-details">
                <div class="list-item">
                    <div class="list-item-wrapper">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 01</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-5">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 02</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-6">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 03</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <button class="accordion">Classe FORMAZIONE LINUX HARDENING Novembre 202 43 DP
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <div class="accordion-details">
                <div class="list-item">
                    <div class="list-item-wrapper">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 01</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-5">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 02</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                    <div class="property-6">
                        <div class="list-item-2">
                            <div class="text-wrapper-2">Allievo 03</div>
                            <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- Aggiungi altri accordioni e pannelli se necessario -->
    </div>

</div>