.allievi {
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.allievi .div {
  background-color: #ededed;
  width: 1440px;
  height: 870px;
  position: relative;
}

.allievi .divider {
  position: absolute;
  width: 1223px;
  height: 101px;
  top: 289px;
  left: 104px;
  overflow: hidden;
}

.allievi .divider-horizontal {
  display: flex;
  flex-direction: column;
  width: 1276px;
  height: 3px;
  align-items: flex-start;
  position: relative;
  top: 51px;
  background-color: #d9d9d9;
}

.allievi .min-height {
  position: relative;
  width: 1px;
  height: 1px;
}

.allievi .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.allievi .title-card {
  position: absolute;
  width: 1277px;
  height: 205px;
  top: 55px;
  left: 79px;
  background-color: #4cd964;
  border-radius: 10px;
}

.allievi .text-wrapper {
  position: absolute;
  top: 89px;
  left: 72px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0.15px;
  line-height: 24px;
  white-space: nowrap;
}

.allievi .school {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 60px;
  left: 230px;
}

.allievi .container {
  position: absolute;
  width: 1320px;
  height: 422px;
  top: 393px;
  left: 60px;
}

.allievi .p {
  position: absolute;
  top: 6px;
  left: 263px;
  font-family: "Roboto-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 18px;
  letter-spacing: 0.15px;
  line-height: 27px;
  white-space: nowrap;
}

.allievi .overlap {
  position: absolute;
  width: 1285px;
  height: 377px;
  top: 45px;
  left: 15px;
  background-image: url(./../../../assets/images/e-learning.png);
  background-size: cover;
  background-position: 50% 50%;
}

.allievi .allievi-card {
  position: absolute;
  width: 290px;
  height: 300px;
  top: 35px;
  left: 651px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

.allievi .overlap-group {
  position: relative;
  height: 300px;
  border-radius: 5px;
}

.allievi .primary-button {
  display: inline-flex;
  height: 40px;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 12px 20px;
  position: absolute;
  top: 221px;
  left: 113px;
  background-color: #009379;
  border-radius: 8px;
  border: 1px solid;
  border-color: #ffffff;
  transition: all 0.3s ease;
  color: white
}

.allievi .label {
  position: relative;
  width: fit-content;
  margin-top: -5px;
  margin-bottom: -3px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.allievi .text-wrapper-2 {
  position: absolute;
  width: 227px;
  top: 134px;
  left: 32px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 21px;
}

.allievi .text-wrapper-3 {
  position: absolute;
  top: 59px;
  left: 32px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #2196f3;
  font-size: 24px;
  letter-spacing: 0.15px;
  line-height: 21px;
  white-space: nowrap;
}

.allievi .rectangle {
  position: absolute;
  width: 290px;
  height: 300px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

.allievi .overlap-wrapper {
  position: absolute;
  width: 290px;
  height: 300px;
  top: 36px;
  left: 343px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #000000;
}

.dialog-container {
  width: 720px;
  height: 400px;
  display: flex;
  flex-direction: column;
  padding: 3%;
  /* justify-content: space-between; */
  align-items: flex-start;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 10%;
}

.dialog-title {
  font-weight: bold;
  font-size: large;
}

.avanti-button {
  width: 100px;
  height: 36px;
  background: #4cd964;
  color: white;
  border: none;
  border-radius: 16px;
  margin-right: 2%;
}

.indietro-button {
  width: 100px;
  height: 36px;
  background: #ff9500;
  color: white;
  border: none;
  border-radius: 16px;
}

.select {
  width: 400px;
  margin-left: 40px;
  height: 50px;
  border-radius: 7px;
  border-color: lightgray;
}

.select-container {
  margin-top: 4%;
  margin-left: 10%;
}

.select-classes {
  margin-top: 10%;
}

.label-classes {
  margin-right: 15px;
}

.label-student {
  margin-right: 15px;
}
