<div class="allievi">
    <div class="div">
        <div class="title-card">
            <div class="text-wrapper">Allievi</div>
            <img class="school" src="./../../../assets/font/school-svgrepo-com (1).svg" />
        </div>
        <hr class="solid" />
        <div class="container">
            <p class="p">
                Seleziona la card per controllare lo status degli allievi iscritti alle classi o la check list completa!
            </p>
            <div class="overlap">
                <div class="allievi-card">
                    <div class="overlap-group">
                        <div class="text-wrapper-3">Lista</div>
                        <p class="text-wrapper-2">Controlla la lista degli allievi che frequentano le tue classi!</p>

                        <button class="primary-button" (click)="goToStudentList()">
                            Vai </button>
                    </div>
                </div>
                <div class="overlap-wrapper">
                    <div class="overlap-group">
                        <div class="text-wrapper-3">Valutazioni</div>
                        <p class="text-wrapper-2">Controlla lo status degli allievi iscritti alle tue classi!</p>

                        <!-- dialog -->
                        <dialog style="border: none; border-radius: 10px; border-style: solid 1px; -webkit-box-shadow: 1px 2px 15px 2px #000000; 
                        box-shadow: 1px 2px 15px 2px #000000;">
                            <div class="dialog-container">
                                <p class="dialog-title">Controlla lo status degli allievi iscritti alle tue classi!</p>
                                <p class="dialog-subtitle">Seleziona lo studente e la classe di appartenenza</p>

                                <div class="select-container">
                                    <div class="select-student">
                                        <label class="label-student" for="cars">Allievo</label>
                                        <select class="select" name="cars" id="cars">
                                            <option value="volvo">Alievo01</option>
                                            <option value="saab">Allievo02</option>
                                            <option value="mercedes">Allievo03</option>
                                            <option value="audi">Allievo04</option>
                                        </select>
                                    </div>
                                    <div class="select-classes">
                                        <label class="label-classes" for="cars">Classe</label>
                                        <select class="select" name="cars" id="cars">
                                            <option value="volvo">Classe ***</option>
                                            <option value="saab">Classe ***</option>
                                            <option value="mercedes">Classe ***</option>
                                            <option value="audi">Classe ***</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="button-container">
                                    <button class="avanti-button" (click)="goToStudentStatus()">Avanti</button>
                                    <button id="back-button" class="indietro-button"
                                        (click)="closeDialog()">Indietro</button>
                                </div>
                            </div>
                        </dialog>

                        <button class="primary-button"> Vai </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>