<div class="tabbed-table">
    <!-- Tabs -->
    <div class="tabbed-table-tabs">
        <button *ngFor="let tab of tabs" [class.active]="selectedTab === tab" (click)="selectTab(tab)">
            {{ tab }}
        </button>
    </div>

    <!-- Table -->
    <table class="table">
        <tbody>
            <tr *ngFor="let item of tableData">
                <ng-container *ngIf="item.category === 'Classi Disponibili'">
                    <div class="td-container">
                        <td class="td">{{ item.name }}</td>
                        <button class="show-button">Mostra</button>
                    </div>
                </ng-container>
                <!-- <ng-container *ngIf="item.category === 'Classi in corso'">
                    <div class="td-container">
                        <td class="td">{{ item.name }}</td>
                        <button class="status-button">Status</button>
                        <button class="show-button">Mostra</button>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.category === 'Classi Concluse'">
                    <div class="td-container">
                        <td class="td">{{ item.name }}</td>
                        <button class="status-button">Status</button>
                    </div>
                </ng-container>
                <ng-container *ngIf="item.category === 'Classi a cui sei iscritto'">
                    <div class="td-container">
                        <td class="td">{{ item.name }}</td>
                        <button class="status-button">Status</button>
                        <button class="show-button">Mostra</button>
                    </div>
                </ng-container> -->
            </tr>
        </tbody>
    </table>
</div>