<div class="tabbed-table">
    <!-- Tabs -->
    <div class="tabbed-table-tabs">
        <button *ngFor="let tab of tabs" [class.active]="selectedTab === tab" (click)="selectTab(tab)">
            {{ tab }}
        </button>
    </div>

    <!-- Table -->
    <table class="table">
        <tbody>
            <tr *ngFor="let item of tableData">
                <ng-container *ngIf="item.category === selectedTab">
                    <div class="td-container">
                        <td class="td">{{ item.name }}</td>
                        <td *ngIf="item.category === 'Classi Disponibili'"><button class="show-button">Mostra</button>
                        </td>
                        <td *ngIf="item.category === 'Classi Concluse'"><button class="status-button">Status</button>
                        </td>
                        <td *ngIf="item.category === 'Classi in corso'">
                            <button class="show-button">Mostra</button>
                            <button class="status-button">Status</button>
                        </td>
                        <td *ngIf="item.category === 'Classi a cui sei iscritto'">
                            <button class="show-button">Mostra</button>
                            <button class="status-button">Status</button>
                        </td>
                    </div>
                </ng-container>
            </tr>
        </tbody>
    </table>
</div>