<div class="navbar">
    <div class="first-cont">
        <img class="unavox-logo" src="./../../../assets/images/unavox logo.png" />
        <div class="text-wrapper"><button class="nav-button" (click)="goToHome()">Home</button> </div>
        <div class="text-wrapper"><button class="nav-button" (click)="goToPersonal()">Area Personale</button></div>
        <div class="text-wrapper"><button class="nav-button" (click)="goToClasses()">Classi</button></div>
        <div class="text-wrapper"><button class="nav-button" (click)="goToCourses()">Corsi</button></div>
    </div>

    <div class="second-cont">
        <button class="nav-button">ITA</button>
        <button class="nav-button"> ENG </button>
    </div>


    <div class="third-cont">
        <button class="personal" (click)="toggleInstructorPopup()">
            <svg fill="#000000" width="30px" height="30px" viewBox="0 0 32 32" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M16 15.503A5.041 5.041 0 1 0 16 5.42a5.041 5.041 0 0 0 0 10.083zm0 2.215c-6.703 0-11 3.699-11 5.5v3.363h22v-3.363c0-2.178-4.068-5.5-11-5.5z" />
            </svg> 
            Allievo
        </button>
    </div>
    <div id="myPopup" [ngClass]="{ 'show': isInstructorPopupVisible }" class="popup">
        <button (click)="closePopup()" class="close-button"><svg width="20px" height="20px" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path d="M23 13H1v-2h22z" />
                <path fill="none" d="M0 0h24v24H0z" />
            </svg></button>

        <div class="first-row">
            <p style="margin-right: 25%;">Utente:</p>
            <p>Allievo</p>
        </div>
        <div class="first-row">
            <p style="margin-right: 26%;">Nome:</p>
            <p>Giuseppe</p>
        </div>
        <div class="first-row">
            <p style="margin-right: 14%;">Cognome:</p>
            <p>Rossi</p>
        </div>
        <button class="logout-button" (click)="logout()"><img class="user-icon"
                src="./../../../assets/font/user-svgrepo-com.svg" />Logout</button>
    </div>
</div>