.navbar {
  width: 100%;
  height: 110px;
  background-color: #ededed;
  border-radius: 2px;
  overflow: hidden;
  border: 1px solid;
  border-color: #00000033;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 1%;
}

.first-cont {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.navbar .unavox-logo {
  width: 301px;
  height: 73px;
  top: 21px;
  left: 51px;
  object-fit: cover;
  border-radius: 10px;
}

.navbar .text-wrapper {
  top: 43px;
  left: 403px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 25.6px;
  white-space: nowrap;
  margin: 0% 5px;
}

.navbar .div {
  top: 43px;
  left: 477px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 25.6px;
  white-space: nowrap;
}

.navbar .text-wrapper-2 {
  top: 43px;
  left: 688px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 25.6px;
  white-space: nowrap;
}

.navbar .text-wrapper-3 {
  top: 43px;
  left: 763px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 25.6px;
  white-space: nowrap;
}

.navbar .text-wrapper-4 {
  top: 43px;
  left: 619px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 25.6px;
  white-space: nowrap;
}

.navbar .text-wrapper-5 {
  top: 43px;
  left: 838px;
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 25.6px;
  white-space: nowrap;
}

.navbar .text-wrapper-6 {
  top: 46px;
  left: calc(100% - 25%);
  font-family: "Poppins-Medium", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 13px;
  letter-spacing: 0.15px;
  line-height: 20.8px;
  white-space: nowrap;
}

.navbar .personal {
  width: fit-content;
  height: 73px;
  top: 21px;
  left: calc(100% - 15%);
  background-color: #ededed;
  border: none;
}

.navbar .left-content {
  display: flex;
  flex-direction: column;
  width: 56px;
  height: 42px;
  align-items: flex-start;

  top: 16px;
  left: 153px;
}

.navbar .icon {
  display: inline-flex;
  align-items: flex-start;
  position: relative;
  flex: 0 0 auto;
}

.navbar .person-filled {
  position: relative;
  width: 35px;
  height: 35px;
}

.navbar .listitem-text {
  display: flex;
  flex-direction: column;
  width: 99px;
  align-items: flex-start;
  padding: 4px 0px;

  top: 21px;
  left: 51px;
}

.navbar .text-wrapper-7 {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--typography-body1-font-family);
  font-weight: var(--typography-body1-font-weight);
  color: #000000;
  font-size: var(--typography-body1-font-size);
  letter-spacing: var(--typography-body1-letter-spacing);
  line-height: var(--typography-body1-line-height);
  font-style: var(--typography-body1-font-style);
}

.nav-button {
  border: none;
  background: transparent;
}

/* popup */

.popup {
  display: none;
  position: fixed;
  bottom: 77%;
  left: 86%;
  transform: translate(-50%, 50%);
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 9;
  padding: 0px 16px 16px 16px;
  width: 250px;
  height: 200px;
}

.popup-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.popup.show {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 77%;
  left: 86%;
  width: 250px;
  height: 200px;
}

/* divider */
hr.solid {
  border-top: 3px solid #bbb;
  width: 80%;
}

#icon-popup {
  margin-right: 7%;
  margin-right: 8%;
  margin-bottom: 23%;
}

.first-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
}

.logout-button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.user-icon {
  margin-right: 3%;
}

.close-button {
  border: none;
  background: transparent;
  margin-left: 85%;
}
