<div class="available-classes-student">
    <div class="div">
        <div class="frame">
            <div class="intestazione-card">
                <img class="groups" src="./../../../assets/font/book-reader-svgrepo-com.svg" />

                <div class="text-wrapper-2">Classi Disponibili</div>
            </div>
            <p class="text-wrapper">Ecco la lista delle classi disponibili del Learning Management System</p>

        </div>
        <hr class="solid" />

        <div class="card-scorrevoli">

            <div class="property-default">
                <div class="text-wrapper-title-card">Classi Security</div>

                <app-scrollable-cards-classes></app-scrollable-cards-classes>


            </div>
            <div class="property">
                <div class="text-wrapper-title-card">Classi Generiche</div>

                <app-scrollable-cards-classes></app-scrollable-cards-classes>
            </div>
        </div>

    </div>
</div>