.available-classes-student {
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 3% 0%;
}

.available-classes-student .div {
  background-color: #ededed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.solid {
  width: 80%;
  margin: 3% 0%;
}

.available-classes-student .min-height {
  position: relative;
  width: 1px;
  height: 1px;
}

.available-classes-student .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.available-classes-student .add-button {
  width: 288px;
  height: 78px;
  top: 32px;
  left: 1070px;
  border: none;
  background: transparent;
}

.available-classes-student .add-circle-outline {
  width: 28px;
  height: 28px;
  top: 25px;
  left: 230px;
}

.available-classes-student .text-wrapper {
  height: 24px;
  top: 37px;
  left: 42px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #3164f4;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.available-classes-student .card-scorrevoli {
  width: 1269px;
  height: fit-content;
  top: 415px;
  left: 85px;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9747ff;
}

.available-classes-student .property-default {
  top: 20px;

  width: 100%;
  height: 340px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
}

.available-classes-student .property {
  padding: 10px;
  top: 380px;

  width: 100%;
  height: 340px;
  left: 20px;
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
}

.available-classes-student .frame {
  width: 1277px;
  height: 205px;

  background-color: #ff9500;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
}

.available-classes-student .intestazione-card {
  width: 736px;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.available-classes-student .text-wrapper-4 {
  width: 402px;
  top: 35px;
  left: 30px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.available-classes-student .local-library-wrapper {
  width: 70px;
  height: 70px;
  top: 10px;
  left: 455px;
  background-image: url(./../../../assets/font/book-reader-svgrepo-com.svg);
  background-size: 100% 100%;
}

.available-classes-student .local-library {
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
}

.available-classes-student .text-wrapper-5 {
  width: 602px;
  top: 82px;
  left: 30px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.available-classes-student .text-wrapper {
  width: 602px;
  top: 124px;
  left: 51px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.available-classes-student .text-wrapper-2 {
  top: 73px;
  left: 52px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0.15px;
  line-height: 24px;
  white-space: nowrap;
}

.available-classes-student .groups {
  width: 70px;
  height: 70px;
  margin-right: 1%;
  margin-bottom: 1%;
}

.available-classes-student .text-wrapper-title-card {
  top: 19px;
  left: 25px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ff9500;
  font-size: 19px;
  letter-spacing: 0.15px;
  line-height: 13px;
  white-space: nowrap;
}

/*  */

.card-container {
  width: 100%;
  overflow-x: auto; /* Abilita lo scrolling orizzontale */
  white-space: nowrap; /* Impedisce il wrapping dei figli */
}

/* Stile delle card */
.card {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
