<div class="available-classes-student">
    <div class="div">
        <div class="divider">
            <div class="divider-horizontal">
                <div class="min-height"></div>
                <img class="img" src="img/divider.svg" />
            </div>
        </div>
        <!-- <button type="button" class="add-button">
            <div><img class="add-circle-outline" src="./../../../assets/font/plus-circle.svg" />Aggiungi un corso</div>
        </button> -->
        <div class="card-scorrevoli">

            <div class="property-default">
                <div class="text-wrapper-title-card">Classi Security</div>

                <app-scrollable-cards-classes></app-scrollable-cards-classes>


            </div>
            <div class="property">
                <div class="text-wrapper-title-card">Classi Generiche</div>

                <app-scrollable-cards-classes></app-scrollable-cards-classes>
            </div>
        </div>
        <div class="frame">
            <div class="intestazione-card">
                <div class="text-wrapper-2">Classi Disponibili</div>
                <p class="text-wrapper">Ecco la lista delle classi disponibili del Learning Management System</p>
                <img class="groups" src="./../../../assets/font/book-reader-svgrepo-com.svg" />
            </div>
        </div>
    </div>
</div>