<div class="crea-corso">
    <div class="div">
        <div class="overlap">
            <div class="text-wrapper-5">Modifica il tuo corso</div>
            <img class="local-library" src="./../../../assets/font/pencil.svg" />
        </div>
        <hr class="solid-1" />
        <div class="overlap-group">
            <div class="frame">
                <p class="text-wrapper">Inserisci le informazioni del corso da modificare</p>
                <img class="vector" src="./../../../assets/font/pencil.svg" />
            </div>
            <hr class="solid">

            <div class="frame-2">
                <div class="property-default">
                    <div class="text-wrapper-3">Nome</div>
                    <div class="text-field">
                        <input type="text" class="input">


                    </div>
                </div>
                <div class="property-default">
                    <div class="text-wrapper-3">Sommario</div>
                    <div class="text-field">
                        <input type="text" class="input">

                    </div>
                </div>
                <div class="property-default">
                    <div class="text-wrapper-3">Descrizione</div>
                    <div class="text-field">
                        <input type="text" class="input">

                    </div>
                </div>
                <!-- radio group -->

                <div class="property-default">
                    <div class="text-wrapper-3">Lingua</div>
                    <div class="radio-group">
                        <div class="div-2">
                            <div class="div-radio-button">
                                <input type="radio" class="radio-button">
                            </div>
                            <div class="form-label">
                                <div class="label-2">Inglese</div>
                            </div>
                        </div>
                        <div class="div-2">
                            <div class="div-radio-button">
                                <input type="radio" class="radio-button">
                            </div>
                            <div class="form-label">
                                <div class="label-2">Italiano</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="property-default">
                    <div class="text-wrapper-3">Durata Attesa</div>
                    <div class="text-field">
                        <input type="text" class="input">

                    </div>
                </div>
                <div class="property-default">
                    <div class="text-wrapper-3">File scorm</div>
                    <button type="file" class="button">Scegli file</button>
                </div>
                <div class="property-default">
                    <div class="text-wrapper-3">Exercise Code</div>
                    <div class="text-field">
                        <input type="text" class="input">

                    </div>
                </div>
                <div class="property-default">
                    <div class="text-wrapper-3">Tag</div>
                    <div class="text-field">
                        <input type="text" class="input">

                    </div>
                </div>

                <div class="container-button">
                    <button class="back-button" (click)="goBackToCourseDetail()">
                        Indietro
                    </button>
                    <button class="submit-button">
                        Conferma
                    </button>
                </div>
            </div>






        </div>
        <!-- <footer class="footer">
            <div class="logo">
                <img class="DP-logo-cyber" src="img/DP-logo-cyber-1.png" />
                <div class="text-wrapper-4">Unavox</div>
                <p class="p">2023 © Unavox- All rights reserved. Powered by DigitalPlatforms</p>
            </div>
        </footer> -->
    </div>
</div>