<input type="hidden" id="anPageName" name="page" value="mostra-corso" />
<div class="container-center-horizontal">
    <div class="mostra-corso screen">
        <div class="container">
            <div class="frame-5">
                <h1 class="title">Host Security - Formazione Completa</h1>
            </div>
            <div class="couse-body">
                <div class="frame-11" style="overflow-y:scroll">
                    <app-list-item-courses></app-list-item-courses>
                    <div class="tree-view-1 tree-view-4">

                    </div>

                </div>
                <div class="flex-col">
                    <div class="primary-button-container">
                        <button class="primary-button">Modifica
                        </button>
                        <button class="primary-button-1">
                            Esporta
                        </button>
                    </div>
                    <div class="frame-12">

                        <div class="rectangle-6">
                            <app-slider></app-slider>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>