<div class="personal-area">
    <div class="div">
        <div class="divider">
            <div class="divider-horizontal">
                <div class="min-height"></div>
                <img class="img" src="img/divider-2.svg" />
            </div>
        </div>
        <div class="overlap">
            <div class="divider-horizontal-wrapper">
                <div class="divider-horizontal-2">
                    <div class="min-height"></div>
                    <img class="img" src="img/divider.svg" />
                </div>
            </div>
            <app-accordion-classes-courses></app-accordion-classes-courses>

        </div>
        <div class="overlap-group">
            <div class="frame"><img class="attacco" src="./../../../assets/images/e-learning.png" /></div>
            <div class="frame-2">
                <p class="p">Ciao Istruttore, questa è la tua area personale!</p>
                <p class="text-wrapper-4">Di seguito puoi trovare la lista delle tue classi disponibili:</p>
                <div class="list-items-available">
                    <div class="property-default-2">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>

                        <button class="primary-button" type="button">Mostra</button>

                        <button class="label-wrapper" type="button">Modifica</button>

                    </div>
                    <div class="property-variant">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>

                        <button class="primary-button" type="button">Mostra</button>

                        <button class="label-wrapper" type="button">Modifica</button>

                    </div>
                    <div class="property-2">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>

                        <button class="primary-button" type="button">Mostra</button>

                        <button class="label-wrapper" type="button">Modifica</button>

                    </div>
                    <div class="property-3">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>

                        <button class="primary-button" type="button">Mostra</button>

                        <button class="label-wrapper" type="button">Modifica</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>