<div class="personal-area">
    <div class="div">
        <div class="divider">
            <div class="divider-horizontal">
                <div class="min-height"></div>
                <img class="img" src="img/divider-2.svg" />
            </div>
        </div>
        <div class="overlap">
            <div class="divider-horizontal-wrapper">
                <div class="divider-horizontal-2">
                    <div class="min-height"></div>
                    <img class="img" src="img/divider.svg" />
                </div>
            </div>
            <app-accordion-classes-courses></app-accordion-classes-courses>
            <!-- <div class="accordion-summary">
                <div class="property-default">
                    <button class="container">
                        <div class="typography">
                            <div class="body">Classi disponibili</div>
                        </div>
                        <div class="accordion-expand">
                            <div class="icon-button">
                                <div class="icon"><img class="expand-less-filled"
                                        src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                                </div>
                            </div>
                        </div>
                    </button>
                    <div class="accordion-details">
                        <div class="text-wrapper-2">Classe Host Security - Guida di Riferimento</div>
                        <div class="text-wrapper-2">Classe Network Security</div>
                        <div class="text-wrapper-2">Classe Febbraio 2024</div>
                        <div class="text-wrapper-2">Classe Host Security</div>
                        <div class="text-wrapper-2">Classe Host Security Giugno 2024</div>
                        <div class="text-wrapper-2">Classe Linux Hardening</div>
                        <div class="text-wrapper-2">Classe Formazione Linux Hardening Novembre 2024 DP</div>
                        <div class="text-wrapper-2">Classe Corso Hardening Windows</div>
                        <div class="text-wrapper-2">Classe Esecuzione Corso Web Hardening</div>
                    </div>
                </div>
                <div class="property">
                    <div class="container">
                        <div class="typography">
                            <div class="body">Corsi disponibili</div>
                        </div>
                        <div class="accordion-expand">
                            <div class="icon-button">
                                <div class="icon"><img class="expand-less-filled"
                                        src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-details">
                        <div class="text-wrapper-2">Corso Host Security - Guida di Riferimento</div>
                        <div class="text-wrapper-2">Corso Network Security</div>
                        <div class="text-wrapper-2">Corso Febbraio 2024</div>
                        <div class="text-wrapper-2">Corso Host Security</div>
                        <div class="text-wrapper-2">Corso Host Security Giugno 2024</div>
                        <div class="text-wrapper-2">Corso Linux Hardening</div>
                        <div class="text-wrapper-2">Corso Formazione Linux Hardening Novembre 2024 DP</div>
                        <div class="text-wrapper-2">Corso Hardening Windows</div>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="overlap-group">
            <div class="frame"><img class="attacco" src="./../../../assets/images/e-learning.png" /></div>
            <div class="frame-2">
                <p class="p">Ciao Istruttore, questa è la tua area personale!</p>
                <p class="text-wrapper-4">Di seguito puoi trovare la lista delle tue classi disponibili:</p>
                <div class="list-items-available">
                    <div class="property-default-2">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>

                        <button class="primary-button" type="button">Mostra</button>

                        <button class="label-wrapper" type="button">Modifica</button>

                    </div>
                    <div class="property-variant">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>

                        <button class="primary-button" type="button">Mostra</button>

                        <button class="label-wrapper" type="button">Modifica</button>

                    </div>
                    <div class="property-2">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>

                        <button class="primary-button" type="button">Mostra</button>

                        <button class="label-wrapper" type="button">Modifica</button>

                    </div>
                    <div class="property-3">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>

                        <button class="primary-button" type="button">Mostra</button>

                        <button class="label-wrapper" type="button">Modifica</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>