.classi-disponibili {
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 3% 0%;
}

.classi-disponibili .div {
  background-color: #ededed;
  width: 85%;
  height: fit-content;
  position: relative;
}

.classi-disponibili .add-button {
  width: fit-content;
  height: fit-content;
  margin-left: 81%;
  margin-bottom: 1%;
  border: none;
  background: transparent;
  font-size: larger;
  font-weight: bold;
  color: #ff9500;
}

.classi-disponibili .divider {
  width: 87%;
  height: fit-content;
  top: 325px;
  left: 105px;
  overflow: hidden;
  background: lightgray;
}

.classi-disponibili .divider-horizontal {
  display: flex;
  flex-direction: column;
  width: 1276px;
  height: 3px;
  align-items: flex-start;
  position: relative;
  top: 51px;
  background-color: #d9d9d9;
}

.classi-disponibili .min-height {
  position: relative;
  width: 1px;
  height: 1px;
}

.classi-disponibili .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.classi-disponibili .frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
  width: 100%;
  height: 205px;

  background-color: #ff9500;
  border-radius: 10px;
  overflow: hidden;
}

.classi-disponibili .text-wrapper {
  width: 602px;
  top: 124px;
  left: 51px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.classi-disponibili .text-wrapper-2 {
  top: 73px;
  left: 52px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0.15px;
  line-height: 24px;
  white-space: nowrap;
}

.classi-disponibili .groups {
  width: 70px;
  height: 70px;
  top: 40px;
  left: 495px;
}

.solid {
  width: 100%;
  margin: 3% 0%;
}

.accordion-container {
  width: 100%;
  height: fit-content;
}
