<div class="classi-disponibili">
    <div class="div">
        <div class="frame">
            <div class="text-wrapper-2">Classi Disponibili</div>
            <p class="text-wrapper">Ecco la lista delle classi disponibili del Learning Management System</p>
            <img class="groups" src="./../../../assets/font/book-reader-svgrepo-com.svg" />
        </div>
        <div class="divider">
            <div class="divider-horizontal">
                <div class="min-height"></div>
                <img class="img" src="img/divider.svg" />
            </div>
        </div>
        <div class="accordion-container"><app-accordion-classes></app-accordion-classes></div>
    </div>

</div>
<!-- <app-accordion-classes></app-accordion-classes> -->