<div class="box">
    <div #accordions class="accordion-summary">
        <button class="accordion">Classe HOT SECURITY
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>
        <div class="panel">
            <p>Panel content 1</p>
            <div class="button-container">
                <button class="edit-button" (click)="editClass()">Modifica</button>
                <button class="show-button" (click)="showClass()">Visualizza</button>
            </div>
        </div>


        <button class="accordion">Classe NETWORK SECURITY
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p>Panel content 1</p>
            <div class="button-container">
                <button class="edit-button">Modifica</button>
                <button class="show-button"><i class="show-icon" src=""></i>Visualizza</button>
            </div>
        </div>

        <button class="accordion">Classe FEBBRAIO 2024
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p>Panel content 1</p>
            <div class="button-container">
                <button class="edit-button">Modifica</button>
                <button class="show-button"><i class="show-icon" src=""></i>Visualizza</button>
            </div>
        </div>

        <button class="accordion">Classe HOT SECURITY Giugno 2024
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p>Panel content 1</p>
            <div class="button-container">
                <button class="edit-button">Modifica</button>
                <button class="show-button"><i class="show-icon" src=""></i>Visualizza</button>
            </div>
        </div>

        <button class="accordion">Classe GIUGNO 2020
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p>Panel content 1</p>
            <div class="button-container">
                <button class="edit-button">Modifica</button>
                <button class="show-button"><i class="show-icon" src=""></i>Visualizza</button>
            </div>
        </div>

        <button class="accordion">Classe WINDOWS 20 Luglio 2024
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p>Panel content 1</p>
            <div class="button-container">
                <button class="edit-button">Modifica</button>
                <button class="show-button"><i class="show-icon" src=""></i>Visualizza</button>
            </div>
        </div>

        <button class="accordion">Classe LINUX HARDENING
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p>Panel content 1</p>
            <div class="button-container">
                <button class="edit-button">Modifica</button>
                <button class="show-button"><i class="show-icon" src=""></i>Visualizza</button>
            </div>
        </div>

        <button class="accordion">Classe FORMAZIONE LINUX HARDENING Novembre 202 43 DP
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p>Panel content 1</p>
            <div class="button-container">
                <button class="edit-button">Modifica</button>
                <button class="show-button"><i class="show-icon" src=""></i>Visualizza</button>
            </div>
        </div>



        <!-- Aggiungi altri accordioni e pannelli se necessario -->
    </div>

</div>