.footer {
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.footer .logo-wrapper {
  background-color: #ededed;
  border: 1px solid;
  border-color: #00000033;
  width: calc(100%);
  height: fit-content;
  display: flex;
  justify-content: center;
}

.footer .logo {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  width: fit-content;
  height: fit-content;

  background-color: #ededed;
  display: flex;
  padding: 2% 0%;
}

.footer .overlap-group {
  width: 120px;
  height: 136px;
  top: 11px;
  left: 213px;
}

.footer .DP-logo-cyber {
  width: 120px;
  height: 106px;
  top: 0;
  left: 0;
  object-fit: cover;
}

.footer .text-wrapper {
  top: 94px;
  left: 5px;
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 28px;
  letter-spacing: 0.15px;
  line-height: 42px;
  white-space: nowrap;
}

.footer .div {
  width: 524px;
  top: 158px;
  left: 16px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0.15px;
  line-height: 24px;
}
