<div class=" completed-class ">
    <div class="div">
        <div class="title-card">
            <div class="text-wrapper-3">Classe</div>
            <img class="school" src="./../../../assets/font/book-reader-svgrepo-com.svg" />
        </div>
        <hr class="solid" />
        <div class="info-container">
            <p class="p">Stato della classe per Giuseppe Rossi</p>
            <p class="text-wrapper-4">Classe******</p>
        </div>
        <div class="frame">

            <app-student-status-table></app-student-status-table>

        </div>



    </div>
</div>