<div class="classi-disponibili">
  <div class="div">
    <div class="title-card">
      <div class="text-wrapper-3">Allievi</div>
      <img class="school" src="./../../../assets/font/school-svgrepo-com (1).svg" />
    </div>
    <div class="divider">
      <div class="divider-horizontal">
        <div class="min-height"></div>
        <img class="img" src="img/divider.svg" />
      </div>
    </div>
    <div class="accordion-container">

      <app-accordion-student-list></app-accordion-student-list>
    </div>
    <!-- <div class="overlap-group">
        <div class="accordion-summary">
          <div class="property-default">
            <div class="container">
              <div class="typography"><div class="body">Classe HOT SECURITY</div></div>
              <div class="accordion-expand">
                <div class="icon-button">
                  <div class="icon"><img class="img-2" src="./../../../../assets/font/arrow-down-svgrepo-com.svg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="property">
            <div class="container">
              <div class="typography"><div class="body">Classe NETWORK SECURITY</div></div>
              <div class="accordion-expand">
                <div class="icon-button">
                  <div class="icon"><img class="img-2" src="./../../../../assets/font/arrow-down-svgrepo-com.svg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="property-variant">
            <div class="container">
              <div class="typography"><div class="body">Classe FEBBRAIO 2024</div></div>
              <div class="typography"></div>
              <div class="accordion-expand">
                <div class="icon-button">
                  <div class="icon"><img class="img-2" src="./../../../../assets/font/arrow-down-svgrepo-com.svg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="container-wrapper">
            <div class="container">
              <div class="typography"><p class="body">Classe HOT SECURITY Giugno 2024</p></div>
              <div class="accordion-expand">
                <div class="icon-button">
                  <div class="icon"><img class="img-2" src="./../../../../assets/font/arrow-down-svgrepo-com.svg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="div-wrapper">
            <div class="container">
              <div class="typography"><div class="body">Classe GIUGNO 2020</div></div>
              <div class="accordion-expand">
                <div class="icon-button">
                  <div class="icon"><img class="img-2" src="i./../../../../assets/font/arrow-down-svgrepo-com.svg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="property-2">
            <div class="container">
              <div class="typography"><p class="body">Classe WINDOWS 20 Luglio 2024</p></div>
              <div class="accordion-expand">
                <div class="icon-button">
                  <div class="icon"><img class="img-2" src="./../../../../assets/font/arrow-down-svgrepo-com.svg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="property-3">
            <div class="container">
              <div class="typography"><div class="body">Classe LINUX HARDENING</div></div>
              <div class="accordion-expand">
                <div class="icon-button">
                  <div class="icon"><img class="img-2" src="./../../../../assets/font/arrow-down-svgrepo-com.svg" /></div>
                </div>
              </div>
            </div>
          </div>
          <div class="property-4">
            <div class="container">
              <div class="typography">
                <p class="text-wrapper">Classe FORMAZIONE LINUX HARDENING Novembre 202 43 DP</p>
              </div>
              <div class="typography"></div>
              <div class="accordion-expand">
                <div class="icon-button">
                  <div class="icon"><img class="img-2" src="./../../../../assets/font/arrow-down-svgrepo-com.svg" /></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="accordion-summary-2">
          <div class="container-2">
            <div class="typography"><div class="body">Classe HOT SECURITY</div></div>
            <div class="accordion-expand">
              <div class="icon-button">
                <div class="icon"><img class="img-2" src="./../../../assets/font/chevron-up-svgrepo-com (1).svg" /></div>
              </div>
            </div>
          </div>
          <div class="accordion-details">
            <div class="list-item">
              <div class="list-item-wrapper">
                <div class="list-item-2">
                  <div class="text-wrapper-2">Allievo 01</div>
                  <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                </div>
              </div>
              <div class="property-5">
                <div class="list-item-2">
                  <div class="text-wrapper-2">Allievo 02</div>
                  <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                </div>
              </div>
              <div class="property-6">
                <div class="list-item-2">
                  <div class="text-wrapper-2">Allievo 03</div>
                  <img class="face" src="./../../../assets/font/face-pending-svgrepo-com.svg" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->

  </div>
</div>