<div class="classi-disponibili">
    <div class="div">
        <div class="frame">
            <img class="groups" src="./../../../assets/font/book-reader-svgrepo-com.svg" />
            <div class="text-wrapper-2">Classe ****</div>
        </div>
        <div class="divider">
            <div class="divider-horizontal">
                <div class="min-height"></div>
                <img class="img" src="img/divider.svg" />
            </div>
        </div>
        <div class="box">
            <div class="left-container">
                <div class="title"><img class="exclamation-icon"
                        src="./../../../assets/font/exclamationmark-circle-svgrepo-com.svg" />Descrizione della classe :
                </div>
                <div class="description-container">" Lorem ipsum dolor sit amet, consectetur adipiscing elit ,
                    sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                    Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea
                    commodo consequat.
                </div>
            </div>
            <div class="right-container">
                <img class="image" src="./../../../assets/images/cybersecurity.jpg" />
            </div>
        </div>
        <div class="info-box">
            <div class="title-2">Informazioni Generali:
            </div>
            <div class="frame-7">
                <article class="property-1-default property-1">
                    <div class="titolo">Titolo</div>
                    <div class="classe poppins-normal-black-20px">Classe ****</div>
                </article>
                <article class="property-1-variant2 property-1">
                    <div class="sommario poppins-bold-black-20px">Sommario</div>
                    <div class="segui-le-nuove-lezioni poppins-normal-black-20px">Segui le nuove lezioni</div>
                </article>
                <article class="property-1-variant3 property-1">
                    <div class="descrizione-sorgente poppins-bold-black-20px">Descrizione sorgente</div>
                    <div class="lezioni-aggiornate-2024 poppins-normal-black-20px">Lezioni aggiornate 2024</div>
                </article>
                <article class="property-1-variant4 property-1">
                    <div class="data-inizio-prevista data-inizio-1 poppins-bold-black-20px">Data inizio prevista
                    </div>
                    <p class="domenica-02-febbraio-2024-0100 poppins-normal-black-20px">Domenica 02 Febbraio
                        2024
                        01:00</p>
                </article>
                <article class="property-1-variant5 property-1">
                    <div class="data-inizio-iscrizione data-inizio-1 poppins-bold-black-20px">Data inizio
                        iscrizione
                    </div>
                    <p class="domenica-02-febbraio-2024-0100-1 poppins-normal-black-20px">
                        Domenica 02 Febbraio 2024 01:00
                    </p>
                </article>
                <article class="property-1-variant6 property-1">
                    <div class="data-fine-iscrizione poppins-bold-black-20px">Data fine iscrizione</div>
                    <p class="gioved-12-febbraio-2024-0100 poppins-normal-black-20px">Giovedì 12 Febbraio 2024
                        01:00
                    </p>
                </article>
                <article class="property-1-variant7 property-1">
                    <div class="data-inizio data poppins-bold-black-20px">Data inizio</div>
                    <p class="lunedi-03-febbrazio-2023-0100 poppins-normal-black-20px">Lunedi 03 Febbrazio 2023
                        01:00</p>
                </article>
                <article class="property-1-variant8 property-1">
                    <div class="data-fine data poppins-bold-black-20px">Data fine</div>
                    <p class="sabato-29-febbrazio-2023-0100 poppins-normal-black-20px">Sabato 29 Febbrazio 2023
                        01:00</p>
                </article>
                <article class="property-1-variant9 property-1">
                    <div class="corso poppins-bold-black-20px">Corso</div>
                    <div class="number poppins-normal-black-20px">2</div>
                </article>
                <article class="property-1-variant10 property-1">
                    <div class="insegnanti poppins-bold-black-20px">Insegnanti</div>
                    <div class="istruttore-1 poppins-normal-black-20px">Istruttore</div>
                </article>
                <article class="property-1-variant11 property-1">
                    <div class="studenti poppins-bold-black-20px">Studenti</div>
                    <div class="stelmilit13 poppins-normal-black-20px">Stelmilit13</div>
                </article>
            </div>


            <div>

            </div>

            <!-- </div> -->
        </div>
        <dialog style="border: none; border-radius: 10px; border-style: solid 1px; -webkit-box-shadow: 1px 4px 26px 2px #000000; 
                    box-shadow: 1px 4px 26px 2px #000000; overflow-y: hidden;">
            <div class="dialog-container">
                <div class="dialog-title-container">
                    <img class="exclamation-icon" src="./../../../assets/font/exclamationmark-circle-svgrepo-com.svg" />
                    <p class="dialog-title">Sei sicuro di volerti iscrivere alla classe?</p>
                </div>
                <div class="button-dialog-container">
                    <button autofocus class="submit-button">Conferma</button>
                    <button autofocus class="cancel-button">Annulla</button>
                </div>
            </div>
        </dialog>
        <div class="button-container">
            <button id="subscription" class="button">Iscriviti alla classe</button>
            <img class="pen-icon" src="./../../../assets/font/pencil.svg" />

        </div>
        <!-- <div class="accordion-container"><app-accordion-classes></app-accordion-classes></div> -->
    </div>

</div>
<!-- <app-accordion-classes></app-accordion-classes> -->