<div class="container">
    <table class="table table-class" id="table-id">

        <thead>
            <tr class="div-2">
                <th class="div-3">Sessione</th>
                <th>Stato</th>
                <th>Utente</th>
                <th>Classe</th>
                <th>Teatro</th>
                <th>Durata</th>
                <th>Stop</th>
            </tr>

        </thead>

        <tbody>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog style="border: none; border-radius: 10px; border-style: solid 1px; -webkit-box-shadow: 1px 4px 26px 2px #000000; 
                    box-shadow: 1px 4px 26px 2px #000000;">
                        <div class="dialog-container">
                            <p class="dialog-title">Sei sicuro di voler interrompere la sessione di gioco?</p>
                            <div class="button-container">
                                <button autofocus class="interrompi-button">Interrompi</button>
                                <button autofocus class="annulla-button" (click)="closeDialog()">Annulla</button>
                            </div>
                        </div>
                    </dialog>

                    <button class="stop-button"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>
            </tr>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog
                        style="border: none; border-radius: 10px; border-style: solid 1px; box-shadow: 1px 4px 26px 2px #000000;">
                        <div class="dialog-container">
                            <p class="dialog-title">Sei sicuro di voler interrompere la sessione di gioco?</p>
                            <div class="button-container">
                                <button autofocus class="interrompi-button">Interrompi</button>
                                <button autofocus class="annulla-button" (click)="closeDialog()">Annulla</button>
                            </div>
                        </div>
                    </dialog>

                    <button class="stop-button" (click)="openDialog()"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>
            </tr>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog>
                        <button autofocus>Close</button>
                        <p>This modal dialog has a groovy backdrop!</p>
                    </dialog>
                    <button class="stop-button" (click)="openDialog()"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>
            </tr>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog>
                        <button autofocus>Close</button>
                        <p>This modal dialog has a groovy backdrop!</p>
                    </dialog>
                    <button class="stop-button" (click)="openDialog()"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>
            </tr>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog>
                        <button autofocus>Close</button>
                        <p>This modal dialog has a groovy backdrop!</p>
                    </dialog>
                    <button class="stop-button" (click)="openDialog()"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>
            </tr>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog>
                        <button autofocus>Close</button>
                        <p>This modal dialog has a groovy backdrop!</p>
                    </dialog>
                    <button class="stop-button" (click)="openDialog()"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>
            </tr>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog>
                        <button autofocus>Close</button>
                        <p>This modal dialog has a groovy backdrop!</p>
                    </dialog>
                    <button class="stop-button" (click)="openDialog()"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>
            </tr>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog>
                        <button autofocus>Close</button>
                        <p>This modal dialog has a groovy backdrop!</p>
                    </dialog>
                    <button class="stop-button" (click)="openDialog()"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>

            </tr>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog>
                        <p>This modal dialog has a groovy backdrop!</p>
                        <button autofocus>Close</button>

                    </dialog>
                    <button class="stop-button" (click)="openDialog()"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>
            </tr>
            <tr>
                <td>gs_lms_hardeningweb</td>
                <td>EXECUTION-WAITING</td>
                <td>Atest01</td>
                <td>Web Hardening Test 12 - DP</td>
                <td>1</td>
                <td>9:09:51.851848</td>
                <td>
                    <dialog>
                        <button autofocus>Close</button>
                        <p>This modal dialog has a groovy backdrop!</p>
                    </dialog>
                    <button class="stop-button" (click)="openDialog()"> <img class="stop-icon"
                            src="./../../../assets/font/stop-sign-svgrepo-com.svg" />
                    </button>
                </td>
            </tr>


        </tbody>

    </table>

    <!--		Start Pagination -->
    <div class='pagination-container'>

        <nav>
            <ul class="pagination">
                <div class="rows-container">
                    <p clss="p-rows">Rows per page</p>
                    <div class="form-group"> <!--		Show Numbers Of Rows 		-->
                        <select class="form-control" name="state" id="maxRows">
                            <option value="5000">Show ALL Rows</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                            <option value="70">70</option>
                            <option value="100">100</option>
                        </select>

                    </div>
                </div>

                <li class="li" data-page="prev">
                    <span class="span">
                        < Previous </span>
                </li>
                <li class="li" data-page="next" id="prev">
                    <span class="span"> Next >
                    </span>
                </li>
            </ul>
        </nav>
    </div>

</div>