<input type="hidden" id="anPageName" name="page" value="dettaglio-classe" />
<div class="container-center-horizontal">
    <div class="dettaglio-classe screen">

        <div class="overlap-group">
            <div class="frame-5">
                <h1 class="title">Classe ******</h1>
            </div>
            <div class="overlap-group1">
                <div class="divider">
                    <div class="divider-horizontal">
                        <div class="min-height"></div>
                        <img class="divider-1" src="img/divider.svg" alt="Divider" />
                    </div>
                </div>
                <div class="title-description-class">
                    <img class="help-outline" src="./../../../assets/font/help-outline.svg" alt="Help outline" />
                    <p class="corso-host-security">“Corso Host Security Completo EOP” Class</p>
                </div>
            </div>
            <div class="container">
                <div>
                    <p class="di-seguito-le-inform">Di seguito le informazioni di dettaglio:</p>
                </div>
                <div class="overlap-group2">
                    <div class="frame-7">

                        <article class="property-1-default property-1">
                            <div class="titolo">Titolo</div>
                            <div class="classe poppins-normal-black-20px">Classe ****</div>
                        </article>
                        <article class="property-1-variant2 property-1">
                            <div class="sommario poppins-bold-black-20px">Sommario</div>
                            <div class="segui-le-nuove-lezioni poppins-normal-black-20px">Segui le nuove lezioni</div>
                        </article>
                        <article class="property-1-variant3 property-1">
                            <div class="descrizione-sorgente poppins-bold-black-20px">Descrizione sorgente</div>
                            <div class="lezioni-aggiornate-2024 poppins-normal-black-20px">Lezioni aggiornate 2024</div>
                        </article>
                        <article class="property-1-variant4 property-1">
                            <div class="data-inizio-prevista data-inizio-1 poppins-bold-black-20px">Data inizio prevista
                            </div>
                            <p class="domenica-02-febbraio-2024-0100 poppins-normal-black-20px">Domenica 02 Febbraio
                                2024
                                01:00</p>
                        </article>
                        <article class="property-1-variant5 property-1">
                            <div class="data-inizio-iscrizione data-inizio-1 poppins-bold-black-20px">Data inizio
                                iscrizione
                            </div>
                            <p class="domenica-02-febbraio-2024-0100-1 poppins-normal-black-20px">
                                Domenica 02 Febbraio 2024 01:00
                            </p>
                        </article>
                        <article class="property-1-variant6 property-1">
                            <div class="data-fine-iscrizione poppins-bold-black-20px">Data fine iscrizione</div>
                            <p class="gioved-12-febbraio-2024-0100 poppins-normal-black-20px">Giovedì 12 Febbraio 2024
                                01:00
                            </p>
                        </article>
                        <article class="property-1-variant7 property-1">
                            <div class="data-inizio data poppins-bold-black-20px">Data inizio</div>
                            <p class="lunedi-03-febbrazio-2023-0100 poppins-normal-black-20px">Lunedi 03 Febbrazio 2023
                                01:00</p>
                        </article>
                        <article class="property-1-variant8 property-1">
                            <div class="data-fine data poppins-bold-black-20px">Data fine</div>
                            <p class="sabato-29-febbrazio-2023-0100 poppins-normal-black-20px">Sabato 29 Febbrazio 2023
                                01:00</p>
                        </article>
                        <article class="property-1-variant9 property-1">
                            <div class="corso poppins-bold-black-20px">Corso</div>
                            <div class="number poppins-normal-black-20px">2</div>
                        </article>
                        <article class="property-1-variant10 property-1">
                            <div class="insegnanti poppins-bold-black-20px">Insegnanti</div>
                            <div class="istruttore-1 poppins-normal-black-20px">Istruttore</div>
                        </article>
                        <article class="property-1-variant11 property-1">
                            <div class="studenti poppins-bold-black-20px">Studenti</div>
                            <div class="stelmilit13 poppins-normal-black-20px">Stelmilit13</div>
                        </article>
                        <div class="property-1-variant12 property-2">
                            <dialog style="border: none; border-radius: 10px; border-style: solid 1px; -webkit-box-shadow: 1px 4px 26px 2px #000000; 
                            box-shadow: 1px 4px 26px 2px #000000;">
                                <div class="dialog-container">
                                    <div class="dialog-title">
                                        <p class="dialog-title">Report Classe ***</p>
                                        <button class="icon-button"><img class="minimize-icon"
                                                src="./../../../assets/font/line-solid-svgrepo-com.svg" /></button>
                                    </div>
                                    <div class="dialog-icon">
                                        <button class="icon-button"><img class="download-icon"
                                                src="./../../../assets/font/print-svgrepo-com.svg" /></button>
                                        <button class="icon-button"><img class="print-icon"
                                                src="./../../../assets/font/download-minimalistic-svgrepo-com.svg" /></button>
                                    </div>
                                    <div class="dialog-body">
                                        <app-report-table></app-report-table>
                                    </div>
                                </div>
                            </dialog>
                            <button class="primary-button">Report</button>
                        </div>
                    </div>


                </div>
                <div>

                </div>

            </div>
        </div>
    </div>
</div>