<div class="box">
    <div #accordions class="accordion-summary">
        <button class="accordion">Modulo 1: Enumerazione remota dei servizi
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>
        <div class="panel">
            <p class="text-wrapper">In comando nmap</p>
            <p class="text-wrapper">Installazione dei sistemi Debian-Based</p>
            <p class="text-wrapper">Scoperta di servizi TCP</p>

        </div>


        <button class="accordion">Modulo 2: Enumerazione utenti via web
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p class="text-wrapper-2">Directory utenti via Apache</p>
            <p class="text-wrapper-2">Questionario</p>
            <p class="text-wrapper-2">WFuzz</p>
        </div>

        <button class="accordion">Modulo 2: Enumerazione servizi
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p class="text-wrapper-2">Enumerazione dei servizi TCP/UDP</p>
            <p class="text-wrapper-2">Enumerazione approfondita</p>
            <p class="text-wrapper-2">Memorizzazione del risultato</p>
        </div>

        <button class="accordion">Esercitazione
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p class="text-wrapper-2">Istruzioni</p>
            <p class="text-wrapper-2">Esercizio Host Security</p>
        </div>



        <!-- Aggiungi altri accordioni e pannelli se necessario -->
    </div>

</div>