<div class="homepage">
    <div class="div">
        <div class="overlap">
            <div class="upper-body">

                <p class="text-wrapper">Benvenuto nel Learning Management System di Cyber Range 1.0</p>
                <p class="p">Piattaforma di E-Learning per docenti e allievi</p>
                <div class="button-container">
                    <button class="primary-button" (click)="goToPersonal()"> Area Personale
                    </button>
                    <button class="label-wrapper" (click)="goToCourses()"> Corsi
                    </button>
                </div>
            </div>

        </div>
        <hr class="solid" />

        <div class="cards-container">
            <div class="overlap-first-group">

                <div class="text-wrapper-2">Area <br />Personale</div>
                <p class="text-wrapper-3">
                    We take your data security seriously, which is why we use advanced encryption protocols to
                    protect
                    your
                    files in the cloud. Your data is safe and secure with us.
                </p>
                <button class="primary-button-2" (click)="goToPersonal()">
                    Scopri
                </button>
            </div>

            <div class="overlap-second-group">
                <div class="corsi-disponibili">Corsi <br />Disponibili</div>
                <p class="text-wrapper-4">
                    Sistema informativo per la gestione dei corsi e delle esercitazioni dello studente
                </p>
                <button class="primary-button-2a" (click)="goToCourses()">

                    Scopri </button>
            </div>

            <div class="overlap-third-group">
                <div class="text-wrapper-2">Classi <br />Disponibili</div>
                <p class="text-wrapper-3">
                    We take your data security seriously, which is why we use advanced encryption protocols to protect
                    your
                    files in the cloud. Your data is safe and secure with us.
                </p>
                <button class="primary-button-2" (click)="goToAvailableClasses()">Scopri
                </button>
            </div>
        </div>

        <hr class="solid" />

        <div class="wrack-wrapper"><img class="wrack" src="./../../../assets/images/wrack.jpg" /></div>
        <p class="il-learning">
            Il Learning Managment System 2.0 rappresenta un'innovazione rispetto ai precedenti sistemi di E-Learning.
            L'intento è quello di fornire sia allo studente che al docente un'esperienza migliore in termini di
            apprendimento e user experience.
        </p>
    </div>
</div>