<div class="allievi">
    <div class="div">

        <div class="title-card">
            <div class="text-wrapper-3">Allievi</div>
            <img class="school" src="./../../../assets/font/school-svgrepo-com (1).svg" />
        </div>
        <div class="overlap">
            <hr class="solid" />
            <p class="p">Stato della classe per Giuseppe Rossi</p>
            <p>Classe******</p>
        </div>
        <div class="frame">
            <!-- <div class="overlap-group">
                    <div class="table-wrapper"> -->
            <app-student-status-table></app-student-status-table>
            <!-- </div>
                </div> -->
        </div>
    </div>
</div>