<div class="allievi">
    <div class="div">
        <div class="overlap">
            <div class="divider">
                <div class="divider-horizontal">
                    <div class="min-height"></div>
                    <img class="divider-2" src="img/divider.svg" />
                </div>
            </div>
            <p class="p">Stato della classe per Giuseppe Rossi</p>
        </div>
        <div class="title-card">
            <div class="text-wrapper-3">Allievi</div>
            <img class="school" src="./../../../assets/font/school-svgrepo-com (1).svg" />
        </div>
        <div class="text-wrapper-4">Classe******</div>
        <div class="frame">
            <!-- <div class="overlap-group">
                    <div class="table-wrapper"> -->
            <app-student-status-table></app-student-status-table>
            <!-- </div>
                </div> -->
        </div>

        <!-- <div class="frame">
            <div class="group">
                <div class="overlap-group">
                    <div class="table-wrapper">
                        <table class="table">
                            <div class="div-2">
                                <th class="div-3">
                                    <div class="head">Titolo</div>
                                </th>
                                <th class="div-3">
                                    <div class="head">Stato</div>
                                </th>
                                <th class="div-3">
                                    <div class="head">Tempo</div>
                                </th>
                                <th class="div-3">
                                    <div class="head">Punteggio</div>
                                </th>
                                <th class="div-3">
                                    <div class="head">Modifica</div>
                                </th>
                            </div>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body">WEB SECURITY</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography"></div>
                                    </div>
                                </div>
                                <div class="div-3"></div>
                                <div class="div-3"></div>
                                <div class="div-3"></div>
                            </tr>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="body-wrapper">
                                            <p class="text-wrapper">Modulo 1: Introduzione all&#39;application security
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography"></div>
                                    </div>
                                </div>
                                <div class="div-3"></div>
                                <div class="div-3"></div>
                                <div class="div-3"></div>
                            </tr>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">Ecosistema Web</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">attempted</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">1:02:52</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">18/30</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="edit-button">
                                    <img class="edit-icon" src="./../../../assets/font/pencil.svg" />
                                </button>
                            </tr>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">Questionario</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">not attempted</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">0:00:00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">0</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="edit-button">
                                    <img class="edit-icon" src="./../../../assets/font/pencil.svg" />
                                </button>
                            </tr>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">Protocollo HTTP</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">attempted</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">1:05:55</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">25/30</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="edit-button">
                                    <img class="edit-icon" src="./../../../assets/font/pencil.svg" />
                                </button>
                            </tr>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">Questionario</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">not attempted</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">0:00:00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">0</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="edit-button">
                                    <img class="edit-icon" src="./../../../assets/font/pencil.svg" />
                                </button>
                            </tr>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">Linguaggi Web</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">attempted</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">0:30:20</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">30/30</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="edit-button">
                                    <img class="edit-icon" src="./../../../assets/font/pencil.svg" />
                                </button>
                            </tr>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="div-wrapper">
                                            <p class="text-wrapper">Modulo 2: Web application security</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3"></div>
                                <div class="div-3"></div>
                                <div class="div-3"></div>
                            </tr>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">Teoria, Threats, Attack</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">attempted</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">0:58:22</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">28/30</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="edit-button">
                                    <img class="edit-icon" src="./../../../assets/font/pencil.svg" />
                                </button>
                            </tr>
                            <tr class="div-2">
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">Esercizio</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">not attempted</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">0:00:00</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="div-3">
                                    <div class="box">
                                        <div class="typography">
                                            <div class="body-2">0</div>
                                        </div>
                                    </div>
                                </div>
                                <button class="edit-button">
                                    <img class="edit-icon" src="./../../../assets/font/pencil.svg" />
                                </button>
                            </tr>
                            <tr class="table-footer">
                                <div class="container">
                                    <div class="rows-per-page">Rows per page:</div>
                                    <div class="page">
                                        <div class="text-wrapper-2">10</div>
                                        <img class="arrow-drop-down"
                                            src="./../../../../assets/font/arrow-down-svgrepo-com.svg" />
                                    </div>
                                </div>
                                <div class="element-of">1-5 of 13</div>
                                <div class="div-4">
                                    <div class="icon-button">
                                        <div class="div-4"><img class="img" src="img/chevron-left-filled.svg" /></div>
                                    </div>
                                    <div class="icon-button">
                                        <div class="div-4"><img class="img" src="img/chevron-right-filled.svg" /></div>
                                    </div>
                                </div>
                            </tr>
                        </table>
                    </div>

                </div>
            </div>
        </div> -->

    </div>
</div>