<div class="box">
    <div #accordions class="accordion-summary">
        <button class="accordion">Classi Disponibili
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>
        <div class="panel">
              <button class="text-wrapper">Classe Host Security - Guida di Riferimento</button>
              <button class="text-wrapper">Classe Network Security</button>
              <button class="text-wrapper">Classe Febbraio 2024</button>
              <button class="text-wrapper">Classe Host Security</button>
              <button class="text-wrapper">Classe Host Security Giugno 2024</button>
              <button class="text-wrapper">Classe Linux Hardening</button>
              <button class="text-wrapper">Classe Formazione Linux Hardening Novembre 20242</button>
              <button class="text-wrapper">Classe Corso Hardening Windows</button>
              <button class="text-wrapper">Classe Esecuzione Corso Web Hardening</button>
        </div>


        <button class="accordion">Corsi Disponibili
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
              <button class="text-wrapper-2">Classe Host Security - Guida di Riferimento</button>
              <button class="text-wrapper-2">Classe Network Security</button>
              <button class="text-wrapper-2">Classe Febbraio 2024</button>
              <button class="text-wrapper-2">Classe Host Security</button>
              <button class="text-wrapper-2">Classe Host Security Giugno 2024</button>
              <button class="text-wrapper-2">Classe Linux Hardening</button>
              <button class="text-wrapper-2">Classe Formazione Linux Hardening Novembre 20242</button>
              <button class="text-wrapper-2">Classe Corso Hardening Windows</button>
              <button class="text-wrapper-2">Classe Esecuzione Corso Web Hardening</button>
        </div>



        <!-- Aggiungi altri accordioni e pannelli se necessario -->
    </div>

</div>