<div class="box">
    <div #accordions class="accordion-summary">
        <button class="accordion">Classi Disponibili
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>
        <div class="panel">
            <p class="text-wrapper">Classe Host Security - Guida di Riferimento</p>
            <p class="text-wrapper">Classe Network Security</p>
            <p class="text-wrapper">Classe Febbraio 2024</p>
            <p class="text-wrapper">Classe Host Security</p>
            <p class="text-wrapper">Classe Host Security Giugno 2024</p>
            <p class="text-wrapper">Classe Linux Hardening</p>
            <p class="text-wrapper">Classe Formazione Linux Hardening Novembre 20242</p>
            <p class="text-wrapper">Classe Corso Hardening Windows</p>
            <p class="text-wrapper">Classe Esecuzione Corso Web Hardening</p>
        </div>


        <button class="accordion">Corsi Disponibili
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <p class="text-wrapper-2">Classe Host Security - Guida di Riferimento</p>
            <p class="text-wrapper-2">Classe Network Security</p>
            <p class="text-wrapper-2">Classe Febbraio 2024</p>
            <p class="text-wrapper-2">Classe Host Security</p>
            <p class="text-wrapper-2">Classe Host Security Giugno 2024</p>
            <p class="text-wrapper-2">Classe Linux Hardening</p>
            <p class="text-wrapper-2">Classe Formazione Linux Hardening Novembre 20242</p>
            <p class="text-wrapper-2">Classe Corso Hardening Windows</p>
            <p class="text-wrapper-2">Classe Esecuzione Corso Web Hardening</p>
        </div>



        <!-- Aggiungi altri accordioni e pannelli se necessario -->
    </div>

</div>