<div class="box">
    <div #accordions class="accordion-summary">
        <button class="accordion">Classi Disponibili
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>
        <div class="panel">
            <button class="text-wrapper" (click)="goToClasses()">Classe Host Security - Guida di Riferimento</button>
            <button class="text-wrapper" (click)="goToClasses()">Classe Network Security</button>
            <button class="text-wrapper" (click)="goToClasses()">Classe Febbraio 2024</button>
            <button class="text-wrapper" (click)="goToClasses()">Classe Host Security</button>
            <button class="text-wrapper" (click)="goToClasses()">Classe Host Security Giugno 2024</button>
            <button class="text-wrapper" (click)="goToClasses()">Classe Linux Hardening</button>
            <button class="text-wrapper" (click)="goToClasses()">Classe Formazione Linux Hardening Novembre
                20242</button>
            <button class="text-wrapper" (click)="goToClasses()">Classe Corso Hardening Windows</button>
            <button class="text-wrapper" (click)="goToClasses()">Classe Esecuzione Corso Web Hardening</button>
        </div>


        <button class="accordion">Corsi Disponibili
            <div class="accordion-expand">
                <div class="icon-button">
                    <div class="icon">
                        <img class="expand-more-filled" src="./../../../assets/font/arrow-down-svgrepo-com.svg" />
                    </div>
                </div>
            </div>
        </button>

        <div class="panel">
            <button class="text-wrapper-2" (click)="goToCourses()">Classe Host Security - Guida di Riferimento</button>
            <button class="text-wrapper-2" (click)="goToCourses()">Classe Network Security</button>
            <button class="text-wrapper-2" (click)="goToCourses()">Classe Febbraio 2024</button>
            <button class="text-wrapper-2" (click)="goToCourses()">Classe Host Security</button>
            <button class="text-wrapper-2" (click)="goToCourses()">Classe Host Security Giugno 2024</button>
            <button class="text-wrapper-2" (click)="goToCourses()">Classe Linux Hardening</button>
            <button class="text-wrapper-2" (click)="goToCourses()">Classe Formazione Linux Hardening Novembre
                20242</button>
            <button class="text-wrapper-2" (click)="goToCourses()">Classe Corso Hardening Windows</button>
            <button class="text-wrapper-2" (click)="goToCourses()">Classe Esecuzione Corso Web Hardening</button>
        </div>



        <!-- Aggiungi altri accordioni e pannelli se necessario -->
    </div>

</div>