<div class="modifica-classe">
    <div class="div">
        <div class="overlap">
            <div class="text-wrapper-5">Modifica la tua classe</div>
            <img class="local-library" src="./../../../assets/font/pencil.svg" />
        </div>
        <hr class="solid" />
        <div class="overlap-group">
            <div class="frame">
                <p class="text-wrapper">Inserisci le informazioni della classe da modificare</p>
                <img class="vector" src="./../../../assets/font/pencil.svg" />
            </div>
            <div class="frame-2">
                <div class="property-default">
                    <div class="text-wrapper-3">Nome</div>
                    <div class="text-field">
                        <input type="text" class="input">


                    </div>
                </div>
                <div class="property-default">
                    <div class="text-wrapper-3">Sommario</div>
                    <div class="text-field">
                        <input type="text" class="input">

                    </div>
                </div>
                <div class="property-default">
                    <div class="text-wrapper-3">Descrizione</div>
                    <div class="text-field">
                        <input type="text" class="input">
                    </div>
                </div>

                <div class="property-default">
                    <div class="text-wrapper-3">Data Inizio Prevista</div>
                    <input type="date" class="div-2">
                </div>


                <div class="property-default">
                    <div class="text-wrapper-3">Data Inizio Iscrizione</div>
                    <input type="date" class="div-2">
                </div>


                <div class="property-default">
                    <div class="text-wrapper-3">Data Fine Iscrizione</div>
                    <input type="date" class="div-2">
                </div>


                <div class="property-default">
                    <div class="text-wrapper-3">Data Inizio</div>
                    <input type="date" class="div-2">
                </div>


                <div class="property-default">
                    <div class="text-wrapper-3">Data Fine</div>
                    <input type="date" class="div-2">
                </div>


                <div class="property-default">
                    <div class="text-wrapper-3">Corso</div>
                    <select name="corsi" id="corsi" class="select">
                        <option value="corso1">Corso ***</option>
                        <option value="corso2">Corso ***</option>
                        <option value="corso3">Corso ***</option>
                        <option value="corso4">Corso ***</option>
                    </select>
                </div>

                <div class="property-default">
                    <div class="text-wrapper-3">
                        Insegnanti
                    </div>
                    <select name="insegnanti" id="insegnanti" class="select">
                        <option value="insegnante1">Insegnante ***</option>
                        <option value="insegnante2">Insegnante ***</option>
                        <option value="insegnante3">Insegnante ***</option>
                        <option value="insegnante4">Insegnante ***</option>
                    </select>
                </div>
                <div class="overlap-group-2">

                    <div class="property-default" id="wrapper-container">
                        <div class="text-wrapper-3">
                            Studenti
                        </div>
                        <div class="transfer-list-wrapper">
                            <div class="transfer-container">
                                <div class="list-1">
                                    <ul class="list1">
                                        <li class="active fruits"> Studente1 </li>
                                        <li> Studente2 </li>
                                        <li> Studente3 </li>
                                        <li> Studente4 </li>
                                        <li> Studente5 </li>
                                        <li> Studente6 </li>
                                        <li> Studente7 </li>
                                        <li> Studente8 </li>

                                    </ul>
                                </div>
                            </div>
                            <div class="transfer-container-2">
                                <div class="transfer">
                                    <input type='button' value='<<' id='move_left' class="transfer-button" />
                                    <input type='button' value='>>' id='move_right' class="transfer-button" />
                                </div>
                            </div>
                            <div class="container-3">
                                <div class="list-2">
                                    <ul class="list2">
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="container-button">
                    <button class="back-button" (click)="goBackToClass()">
                        Indietro
                    </button>
                    <button class="submit-button">
                        Conferma
                    </button>
                </div>
            </div>






        </div>

    </div>
</div>