<dialog style="position: fixed;
left: 68%;
top: 221px;
width: 300px;
height: 400px;border-radius: 5px;
  border: 1px solid; box-shadow: 0px 0px 23px 0px;">
    <div class="dialog-container">
        <button class="close-button" autofocus><img class="minimize-icon"
                src="./../../../assets/font/line-solid-svgrepo-com.svg" /></button>
        <img src="./../../../assets/font/call-center-worker-with-headset-svgrepo-com.svg" />
        <p style="font-size: large;">Ciao, sono il tuo virtual coach!
            Sono qui per aiutarti.</p>
        <div class="input-container">
            <label style="font-size: smaller;margin-bottom: 0px;">Fammi una domanda</label>
            <input class="input" placeholder="es. Dove trovo le classi disponibili?" />
        </div>

        <button class="button">Vai!</button>
    </div>
</dialog>
<button class="float">
    ?
</button>