<div class="personal-area">
    <div class="div">

        <div class="overlap-group">
            <div class="frame-2">
                <p class="p">Ciao studente, questa è la tua area personale!</p>
                <p class="text-wrapper-4">Di seguito puoi trovare la lista delle classi alle quali sei iscritto:</p>
                <div class="list-items-available">
                    <div class="property-default-2">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>

                        <button class="label-wrapper" type="button" (click)="goToStatusClass()">Status ></button>


                    </div>
                    <div class="property-default-2">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>


                        <button class="label-wrapper" type="button" (click)="goToStatusClass()">Status ></button>

                    </div>
                    <div class="property-default-2">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>


                        <button class="label-wrapper" type="button" (click)="goToStatusClass()">Status ></button>

                    </div>
                    <div class="property-default-2">
                        <div class="vector-wrapper"><img class="vector"
                                src="./../../../assets/font/check-svgrepo-com (1).svg" /></div>
                        <p class="text-wrapper-5">Web Hardening Test DP -12</p>


                        <button class="label-wrapper" type="button" (click)="goToStatusClass()">Status ></button>

                    </div>
                </div>
            </div>

            <img class="attacco" src="./../../../assets/images/avatars/avatar4.jpg" />

        </div>

        <hr class="solid" />

        <div class="overlap">

            <app-accordion-student-classes></app-accordion-student-classes>

        </div>

    </div>
</div>