<div class="dialog">
    <button class="button-logout">
        <div class="icon"><img class="person-filled" src="img/person-filled.svg" /></div>
        <div class="text-wrapper">Logout</div>
    </button>
    <div class="div">Utente:</div>
    <div class="overlap-group">
        <div class="text-wrapper-2">Rossi</div>
        <div class="text-wrapper-3">Cognome:</div>
    </div>
    <div class="overlap">
        <div class="text-wrapper-2">Mario</div>
        <div class="text-wrapper-3">Nome:</div>
    </div>
    <div class="text-wrapper-4">Istruttore</div>
</div>