<div class="corsi-disponibili">
    <div class="div">
        <div class="divider">
            <div class="divider-horizontal">
                <div class="min-height"></div>
                <img class="img" src="img/divider.svg" />
            </div>
        </div>
        <button type="button" class="add-button">
            <div><img class="add-circle-outline" src="./../../../assets/font/plus-circle.svg" />Aggiungi un corso</div>
            <!-- <img class="add-circle-outline" src="./../../../assets/font/plus-circle.svg" /> -->
            <!-- <div class="text-wrapper">Aggiungi un corso</div> -->
        </button>
        <div class="card-scorrevoli">
            <div class="property-default">
                <div class="text-wrapper-2">Security</div>
                <div class="card-dettaglio-corso">
                    <img class="rectangle" src="./../../../assets/images/cybersecurity.jpg" />
                    <div class="text-wrapper-3">Corso web Security completo</div>
                    <p class="p">Corso sicurezza web con percorso esperienziale</p>
                </div>
                <div class="card-dettaglio-corso-2">
                    <img class="rectangle" src="./../../../assets/images/cyber3.jpg" />
                    <div class="text-wrapper-3">Corso web Security completo</div>
                    <p class="p">Corso sicurezza web con percorso esperienziale</p>
                </div>
                <div class="overlap-group">
                    <div class="card-dettaglio-corso-3">
                        <img class="rectangle" src="./../../../assets/images/big.jpg" />
                        <div class="text-wrapper-3">Corso web Security completo</div>
                        <p class="p">Corso sicurezza web con percorso esperienziale</p>
                    </div>
                    <img class="play-circle-filled" src="./../../../assets/font/arrow-right-circle-fill.svg" />
                </div>
                <div class="card-dettaglio-corso-4">
                    <img class="rectangle" src="./../../../assets/images/e-learning.png" />
                    <div class="text-wrapper-3">Corso web Security completo</div>
                    <p class="p">Corso sicurezza web con percorso esperienziale</p>
                </div>
                <div class="card-dettaglio-corso-5">
                    <img class="rectangle" src="./../../../assets/images/2019-cyber-range.jpg" />
                    <div class="text-wrapper-3">Corso web Security completo</div>
                    <p class="p">Corso sicurezza web con percorso esperienziale</p>
                </div>
            </div>
            <div class="property">
                <div class="text-wrapper-2">Corsi Generici</div>
                <div class="card-dettaglio-corso">
                    <img class="rectangle" src="./../../../assets/images/cybersecurity.jpg" />
                    <div class="text-wrapper-3">Corso web Security completo</div>
                    <p class="p">Corso sicurezza web con percorso esperienziale</p>
                </div>
                <div class="card-dettaglio-corso-2">
                    <img class="rectangle" src="./../../../assets/images/cyber3.jpg" />
                    <div class="text-wrapper-3">Corso web Security completo</div>
                    <p class="p">Corso sicurezza web con percorso esperienziale</p>
                </div>
                <div class="overlap-group">
                    <div class="card-dettaglio-corso-3">
                        <img class="rectangle" src="./../../../assets/images/big.jpg" />
                        <div class="text-wrapper-3">Corso web Security completo</div>
                        <p class="p">Corso sicurezza web con percorso esperienziale</p>
                    </div>
                    <img class="play-circle-filled" src="./../../../assets/font/arrow-right-circle-fill.svg" />
                </div>
                <div class="card-dettaglio-corso-4">
                    <img class="rectangle" src="./../../../assets/images/e-learning.png" />
                    <div class="text-wrapper-3">Corso web Security completo</div>
                    <p class="p">Corso sicurezza web con percorso esperienziale</p>
                </div>
                <div class="card-dettaglio-corso-5">
                    <img class="rectangle" src="./../../../assets/images/2019-cyber-range.jpg" />
                    <div class="text-wrapper-3">Corso web Security completo</div>
                    <p class="p">Corso sicurezza web con percorso esperienziale</p>
                </div>
            </div>
        </div>
        <div class="frame">
            <div class="intestazione-card">
                <div class="text-wrapper-4">Corsi Disponibili</div>
                <div class="local-library-wrapper"><img class="local-library"
                        src="./../../../assets/font/book-reader-svgrepo-com.svg" /></div>
                <p class="text-wrapper-5">Ecco la lista di corsi disponibili del Learning Management System</p>
            </div>
        </div>
    </div>
</div>