.corsi-disponibili {
  background-color: #ededed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  padding: 3% 0%;
}

.corsi-disponibili .div {
  background-color: #ededed;
  width: 85%;
  height: fit-content;
  position: relative;
}

.corsi-disponibili .divider {
  width: 1223px;
  height: 88px;
  top: 323px;
  left: 108px;
  overflow: hidden;
}

.corsi-disponibili .min-height {
  position: relative;
  width: 1px;
  height: 1px;
}

.corsi-disponibili .img {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 1px;
  object-fit: cover;
}

.solid {
  width: 100%;
  margin: 3% 0%;
}

.corsi-disponibili .add-button {
  width: fit-content;
  height: fit-content;
  margin-bottom: 1%;
  margin-left: 83%;
  border: none;
  background: transparent;
  font-size: larger;
  font-weight: bold;
  color: #3164f4;
}

.corsi-disponibili .add-circle-outline {
  width: 28px;
  height: 28px;
  top: 25px;
  left: 230px;
}

.corsi-disponibili .text-wrapper {
  height: 24px;
  top: 37px;
  left: 42px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #3164f4;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
}

.corsi-disponibili .card-scorrevoli {
  width: 100%;
  padding: 1%;
  height: fit-content;
  border-radius: 5px;
  overflow: hidden;
  border: 1px dashed;
  border-color: #9747ff;
}

.corsi-disponibili .property-default {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
  padding: 10px;
}

.corsi-disponibili .text-wrapper-2 {
  top: 19px;
  left: 25px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #20b2aa;
  font-size: 19px;
  letter-spacing: 0.15px;
  line-height: 13px;
  white-space: nowrap;
}

.corsi-disponibili .property {
  padding: 10px;

  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  border-radius: 2px;
  overflow: hidden;
}

.corsi-disponibili .frame {
  width: 100%;
  height: 205px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #3164f4;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 3%;
}

.corsi-disponibili .intestazione-card {
  position: relative;
  width: 736px;
  height: 160px;
  top: 22px;
  left: 22px;
}

.corsi-disponibili .text-wrapper-4 {
  font-family: "Poppins-Bold", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

.corsi-disponibili .local-library-wrapper {
  width: 70px;
  height: 70px;
  top: 10px;
  left: 455px;
  background-image: url(./../../../assets/font/book-reader-svgrepo-com.svg);
  background-size: 100% 100%;
}

.corsi-disponibili .local-library {
  width: 70px;
  height: 70px;
  top: 0;
  left: 0;
}

.corsi-disponibili .text-wrapper-5 {
  width: 602px;
  top: 82px;
  left: 30px;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 20px;
  letter-spacing: 0.15px;
  line-height: 24px;
}

/*  */

.card-container {
  width: 100%;
  overflow-x: auto; /* Abilita lo scrolling orizzontale */
  white-space: nowrap; /* Impedisce il wrapping dei figli */
}

/* Stile delle card */
.card {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
