<div class="corsi-disponibili">
    <div class="div">
        <div class="divider">
            <div class="divider-horizontal">
                <div class="min-height"></div>
                <img class="img" src="img/divider.svg" />
            </div>
        </div>
        <button type="button" class="add-button">
            <div><img class="add-circle-outline" src="./../../../assets/font/plus-circle.svg" />Aggiungi un corso</div>
        </button>
        <div class="card-scorrevoli">

            <div class="property-default">
                <div class="text-wrapper-2">Corsi Security</div>

                <app-scrollable-cards></app-scrollable-cards>


            </div>
            <div class="property">
                <div class="text-wrapper-2">Corsi Generici</div>

                <app-scrollable-cards></app-scrollable-cards>
            </div>
        </div>
        <div class="frame">
            <div class="intestazione-card">
                <div class="text-wrapper-4">Corsi Disponibili</div>
                <div class="local-library-wrapper"><img class="local-library"
                        src="./../../../assets/font/book-reader-svgrepo-com.svg" /></div>
                <p class="text-wrapper-5">Ecco la lista di corsi disponibili del Learning Management System</p>
            </div>
        </div>
    </div>
</div>