<div class="card-container" #cardContainer>

    <!-- Card 1 -->
    <div class="card">
        <img class="rectangle" src="./../../../assets/images/cybersecurity.jpg" />
        <div class="text-wrapper-3"><button class="select-course-button">Host Security - <br />Formazione
                Generica</button>
        </div>
        <div class="button-container"><img class="eye-icon" src="./../../../assets/font/eye-svgrepo-com.svg" />
            <button class="show-button" (click)="goToDetailClass()">Mostra</button>
        </div>
    </div>
    <!-- Card 2 -->
    <div class="card"> <img class="rectangle" src="./../../../assets/images/cyber3.jpg" />
        <div class="text-wrapper-3"><button class="select-course-button">Host Security - <br />Guida di
                Riferimento</button>
        </div>
        <div class="button-container"><img class="eye-icon" src="./../../../assets/font/eye-svgrepo-com.svg" />
            <button class="show-button" (click)="goToDetailClass()">Mostra</button>
        </div>
    </div>
    <!-- Card 3 -->
    <div class="card"> <img class="rectangle" src="./../../../assets/images/big.jpg" />
        <div class="text-wrapper-3"><button class="select-course-button">Network Security <br />Formazione
                Generica</button>
        </div>
        <div class="button-container"><img class="eye-icon" src="./../../../assets/font/eye-svgrepo-com.svg" />
            <button class="show-button" (click)="goToDetailClass()">Mostra</button>
        </div>
    </div>
    <!-- Card 4 -->
    <div class="card"> <img class="rectangle" src="./../../../assets/images/big.jpg" />
        <div class="text-wrapper-3"><button class="select-course-button">Network Security <br />Guida di
                Riferimento</button>
        </div>
        <div class="button-container"><img class="eye-icon" src="./../../../assets/font/eye-svgrepo-com.svg" />
            <button class="show-button" (click)="goToDetailClass()">Mostra</button>
        </div>
    </div>
    <!-- Card 5 -->
    <div class="card"> <img class="rectangle" src="./../../../assets/images/rectangle-1.jpg" />
        <div class="text-wrapper-3"><button class="select-course-button">Web Security <br />Guida di
                Riferimento</button> </div>
        <div class="button-container"><img class="eye-icon" src="./../../../assets/font/eye-svgrepo-com.svg" />
            <button class="show-button" (click)="goToDetailClass()">Mostra</button>
        </div>
    </div>
    <!-- Card 6-->
    <div class="card"> <img class="rectangle" src="./../../../assets/images/2019-cyber-range.jpg" />
        <div class="text-wrapper-3"><button class="select-course-button">Classe web Security <br />completo</button>
        </div>
        <div class="button-container"><img class="eye-icon" src="./../../../assets/font/eye-svgrepo-com.svg" />
            <button class="show-button" (click)="goToDetailClass()">Mostra</button>
        </div>
    </div>
    <!-- Card 7-->
    <div class="card"> <img class="rectangle" src="./../../../assets/images/cybersecurity.jpg" />
        <div class="text-wrapper-3"><button class="select-course-button">Classe web Security <br />completo</button>
        </div>
        <div class="button-container"><img class="eye-icon" src="./../../../assets/font/eye-svgrepo-com.svg" />
            <button class="show-button" (click)="goToDetailClass()">Mostra</button>
        </div>
    </div>

    <!-- Aggiungi altre card qui se necessario -->
</div>

<!-- Pulsanti di navigazione -->
<div class="btn-container">
    <button class="back-button" (click)="scrollCards(-1)">
        << </button>
            <button class="forward-button" (click)="scrollCards(1)">>></button>
</div>