<div class="crea-classe">
  <div class="div">
    <div class="title-card">
      <div class="text-wrapper-6">Crea la tua classe</div>
      <img class="groups" src="./../../../assets/font/school-svgrepo-com (1).svg" />
      <img class="add-circle-outline" src="./../../../assets/font/plus-circle-svgrepo-com.svg" />
    </div>
    <div class="divider">
      <div class="divider-horizontal">
        <div class="min-height"></div>
        <img class="img" src="img/divider.svg" />
      </div>
    </div>
    <div class="overlap">
      <div class="overlap-group">
        <div class="frame">
          <p class="text-wrapper">Inserisci le informazioni della nuova classe</p>
          <img class="vector" src="./../../../assets/font/pencil.svg" />
        </div>
        <div class="divider-horizontal-wrapper">
          <div class="divider-horizontal">
            <div class="min-height"></div>
            <img class="img" src="img/image.svg" />
          </div>
        </div>
      </div>
      <div class="overlap-2">
        <div class="frame-2">
          <div class="property-default">
            <div class="div-2">
              <input type="text" class="input">
              <div class="label-container">
                <div class="text-wrapper-2">Titolo</div>
              </div>
            </div>
            <div class="text-wrapper-3">Titolo</div>
          </div>
          <div class="property">
            <div class="div-2">
              <input type="text" class="input">
              <div class="label-container">
                <div class="text-wrapper-2">Sommario</div>
              </div>
            </div>
            <div class="text-wrapper-3">Sommario</div>
          </div>
          <div class="property-variant">
            <div class="div-2">
              <input type="text" class="input">
              <div class="label-container">
                <div class="text-wrapper-2">Descrizione</div>
              </div>
            </div>
            <div class="text-wrapper-3">Descrizione</div>
          </div>
          <div class="div-wrapper">
            <div class="text-wrapper-3">Data inizio prevista</div>
            <input type="date" class="div-2">
          </div>

          <div class="property-2">
            <div class="text-wrapper-3">Data inizio iscrizione</div>
            <input type="date" class="div-2">
          </div>

          <div class="property-3">
            <div class="text-wrapper-3">Data fine iscrizione</div>
            <input type="date" class="div-2">
          </div>

          <div class="property-4">
            <div class="text-wrapper-3">Data inizio</div>
            <input type="date" class="div-2">

          </div>
          <div class="property-5">
            <div class="text-wrapper-3">Data fine</div>
            <input type="date" class="div-2">

          </div>
          <div class="property-6">
            <div class="text-wrapper-3">Corso</div>

            <div class="div-2">
              <select name="corsi" id="corsi" class="select">
                <option value="corso1">Corso ***</option>
                <option value="corso2">Corso ***</option>
                <option value="corso3">Corso ***</option>
                <option value="corso4">Corso ***</option>
              </select>

            </div>
          </div>
          <div class="property-7">
            <div class="text-wrapper-3">Insegnanti</div>
            <div class="div-2">
              <select name="insegnanti" id="insegnanti" class="select">
                <option value="insegnante1">Insegnante ***</option>
                <option value="insegnante2">Insegnante ***</option>
                <option value="insegnante3">Insegnante ***</option>
                <option value="insegnante4">Insegnante ***</option>
              </select>

            </div>
          </div>
          <div class="overlap-group-2">
            <div class="property-8">
              <div class="text-wrapper-3">Studenti</div>
            </div>
            <div class="transfer-list-wrapper">
              <div class="main">
                <div class="transfer-container">
                  <div class="list-1">
                    <ul class="list1">
                      <li class="active fruits"> Studente1 </li>
                      <li> Studente2 </li>
                      <li> Studente3 </li>
                      <li> Studente4 </li>
                      <li> Studente5 </li>
                      <li> Studente6 </li>
                      <li> Studente7 </li>
                      <li> Studente8 </li>

                    </ul>
                  </div>
                </div>
                <div class="transfer-container-2">
                  <div class="transfer">
                    <input type='button' value='<<' id='move_left' class="transfer-button" />
                    <input type='button' value='>>' id='move_right' class="transfer-button" />
                  </div>
                </div>
                <div class="container-3">
                  <div class="list-2">
                    <ul class="list2">
                    </ul>
                  </div>
                </div>
                <div>
                </div>
              </div>
            </div>
          </div>
          <div class="property-9">
            <button class="submit-button">Conferma</button>
            <button class="back-button">Indietro</button>
          </div>

        </div>

      </div>
    </div>