<div class="sessioni-di-gioco">
    <div class="div">
        <div class="overlap">
            <div class="title-card">
                <div class="text-wrapper-3">Sessioni di Gioco <img class="play-circle-outline"
                        src="./../../../assets/font/play-circle-svgrepo-com.svg" />
                </div>
            </div>
        </div>
        <div class="search">

            <div class="content-wrapper">
                <div class="content">
                    <img class="arrow-drop-down" src="./../../../assets/font/search-svgrepo-com (1).svg" />
                    <input class="search-input" type="text" id="myInput" onkeyup="myFunction()" placeholder="Cerca">

                </div>
            </div>
        </div>
        <hr class="solid" />
        <div class="frame">
            <app-games-table></app-games-table>

        </div>
    </div>
</div>