<div class="sessioni-di-gioco">
    <div class="div">
        <div class="overlap">
            <div class="title-card">
                <div class="text-wrapper-3">Sessioni di Gioco</div>
            </div>
            <img class="play-circle-outline" src="./../../../assets/font/play-circle-svgrepo-com.svg" />
        </div>
        <div class="search">

            <div class="content-wrapper">
                <div class="content">
                    <div class="magnifyingglass">
                        <div class="magnifyingglass-2"><img class="arrow-drop-down"
                                src="./../../../assets/font/search-svgrepo-com (1).svg" /></div>
                    </div>
                    <input class="search-input" type="text" id="myInput" onkeyup="myFunction()" placeholder="Cerca">
                </div>
            </div>
        </div>
        <div class="divider">
            <div class="divider-horizontal">
                <div class="min-height"></div>
                <img class="divider-2" src="img/divider.svg" />
            </div>
        </div>
        <div class="frame">
            <app-games-table></app-games-table>

        </div>
    </div>
</div>